.footer {
    border-top: 1px solid #efebeb;
    padding: 3rem 0;
  }

  .footer a {
    color: var(--p-color);
    font-weight: var(--font-weight-light);
  }

  .footer p {
    font-size: var(--base-font-size);
  }

  .contact .fa,
  .site-footer .fa {
    color: var(--primary-color);
  }